<h1>Greeting from Meadowlark Travel</h1>
{{#if message}}
  <p>message:</p>
  <blockquote>{{message}}</blockquote>
  <p>style:</p>
  <blockquote>{{style}}</blockquote>
  <p>userid:</p>
  <blockquote>{{userid}}</blockquote>
{{/if}}
